@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-container {
    @apply rounded-lg items-center relative;
  }

  .input-title {
    @apply text-sm font-bold mr-auto;
  }

  .input-textarea {
    @apply rounded-lg resize-none overflow-auto;
    @apply text-white bg-zinc-700;
  }

  .output-textarea {
    @apply rounded-lg overflow-auto;
    @apply text-gray-500;
  }

  .param-button {
    @apply bg-yellow-500 hover:bg-yellow-700 text-white text-base rounded-lg;
  }

  .param-span {
    @apply rounded bg-gray-700 px-3 mx-1;
  }

  .option-dropdown-container {
    @apply relative text-gray-800;
  }

  .option-dropdown {
    @apply absolute mt-2 z-10 bg-white shadow rounded-lg border border-gray-300  flex flex-col gap-2 p-2;
  }

  .param-option {
    @apply bg-white rounded-lg px-3 py-2 hover:bg-gray-300 cursor-pointer;
  }

  .account-setting-input-container {
    @apply flex flex-col gap-1;
  }

  .account-setting-input-label {
    @apply text-sm text-gray-400;
  }

  .account-setting-input {
    @apply bg-zinc-700 border border-white hover:border-gray-400 focus:bg-white focus:text-black px-[15px] py-[10px] rounded;
    @apply text-gray-400;
  }

  .account-setting-button-update {
    @apply cursor-pointer px-2 py-2 rounded items-center justify-center bg-yellow-500 w-full hover:bg-yellow-700;
    @apply text-sm text-white;
  }

  .account-setting-button-signout {
    @apply cursor-pointer px-2 py-2 rounded items-center justify-center bg-gray-500 w-full hover:bg-gray-600;
    @apply text-white;
  }

  .auth-container {
    @apply container mx-auto mt-14 w-1/3 rounded-lg bg-zinc-700;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .prompt-card {
    @apply h-[50vh] border border-gray-300 rounded-lg text-sm flex flex-col gap-2;
    /* @apply w-1/3; */
    @apply w-full;
  }

  .mode-button {
    @apply bg-yellow-500 text-white text-sm rounded-md py-1 active:bg-yellow-700;
    @apply font-semibold
    /* @apply mx-4; */;
  }

  .prompt-card-header {
    @apply text-black grid grid-cols-4 py-2.5 px-4 border-b border-gray-300;
  }

  .prompt-card-body {
    @apply h-3/4 flex flex-col px-4;
  }

  .prompt-card-body-header {
    @apply text-black grid grid-cols-3 px-4 pt-1 pb-2;
    /* @apply border-b border-gray-300; */
  }

  .prompt-card-body-header-section {
    @apply cursor-pointer font-semibold text-gray-400 text-sm;
    /* @apply border border-gray-300; */
  }

  .prompt-card-body-content-body {
    @apply w-full h-full rounded-lg flex flex-col;
  }

  .prompt-card-body-content {
    @apply w-full h-full resize-none focus:outline-none text-black p-4 rounded-md border border-gray-300 overflow-y-auto inline-block;
  }

  .prompt-card-body-content::before {
    content: "Original prompt, keywords, ideas";
    @apply text-gray-400;
  }

  .before-visible.prompt-card-body-content:before {
    display: inline;
  }

  .before-hidden.prompt-card-body-content:before {
    display: none;
  }

  .prompt-card-body-content-word-count {
    /* @apply flex flex-row gap-4 items-end justify-end absolute bottom-2 right-2 text-gray-400 text-sm font-medium; */
    @apply flex flex-row gap-4 items-center justify-end text-gray-400 text-sm my-1.5;
  }

  .prompt-card-button {
    @apply text-black rounded-md px-2 py-0.5;
    @apply text-white bg-yellow-500;
  }

  .component-title {
    @apply border border-black rounded px-1 text-xs;
  }
}
